.full{
    height: calc(100vh - 56px);
    background-image: url(../img/sidebar-bg.png);
    margin: 0;
    background-color: #041a2c;
}

.width_full{
    width: calc(100vw - 92px );
    margin-left: 92px;
}

.pill_color{

background-color: #165BBA;
}

@media screen and (min-width:992px){
    .width_full{
        width: calc(100vw - 208px );
        margin-left: 208px;
    }
}